:root {
  --font-main: 'TT Commons', sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-grey: rgba(0, 0, 0, 0.2);
  --color-cursor-hover: rgba(79, 161, 219, 0.15);
  --color-dark-bg: #02170F;

  --light-item-bg: #E8E8E8;
  --dark-item-bg: #02170F;

  --placeholder-color: rgba(0, 0, 0, 0.3);
}